html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*Typefaces: Patua One, Georgia
Text sizes: 2rem
Line-heights: 1.5
Colours: #fff, #f2f1ed, #30658d, #000
Gaps: 1rem
Margins: 1rem
Paddings: 1rem
Logo width: 14rem*/

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

main {

}

h1 {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

h1 img {
  width: 14rem;
}

header img {
  grid-column: 1 / 2;
  grid-row: 1;
}
