html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*Typefaces: Patua One, Georgia
Text sizes: 2rem
Line-heights: 1.5
Colours: #fff, #f2f1ed, #30658d, #000
Gaps: 1rem
Margins: 1rem
Paddings: 1rem
Logo width: 14rem*/

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

body {
  /*margin: 0;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "fig1 fig2";
  gap: 1rem;
}

h1 {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  align-self: end;
}

h1 img {
  width: 14rem;
}

.pano {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}

nav ul {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  text-decoration: underline;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Patua One", serif;
}

a {
  color: #fff;
}

li {
  list-style-type: none;
}

main {
  display: contents;
}

figure:nth-child(1) {
  grid-area: fig1;
  grid-column: 1;
  grid-row: 2;
}

figure:nth-child(2) {
  grid-area: fig2;
  grid-column: 2;
  grid-row: 2;
}

figure image {
  width: 100%;
}
